<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangwenit.security.demo.mapper.SysUserResourceMapper">

    <select id="selectResourceByUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT resource_id AS resourceId FROM sys_user_resource WHERE sys_user_id = #{userId} AND `status` = 1 AND is_delete = 0
    </select>
</mapper>